In [63]:
import pandas as pd 
from collections import Counter
df = pd.read_excel (r'C:\Users\Anar\Desktop\Code Academy\Week 8\Turbo_az_Kia_all_vehicles.xlsx')
print (df)

          City Brand    Model  Year        Body Type Color  \
0         Bakı   Kia   Cerato  2019            Sedan   Boz
1         Bakı   Kia  Sorento  2015  Offroader / SUV  Qara
2         Bakı   Kia   Cerato  2022            Sedan    Ağ
3     Sumqayıt   Kia      Rio  2023          Hetçbek    Ağ
4         Bakı   Kia   Cerato  2020            Sedan   Göy
...        ...   ...      ...   ...              ...   ...
3401      Bakı   Kia     Ceed  2007          Hetçbek  Qara
3402      Bakı   Kia   Optima  2016            Sedan    Ağ
3403      Bakı   Kia  Sorento  2015  Offroader / SUV    Ağ
3404      Bakı   Kia   Optima  2016            Sedan    Ağ
3405      Bakı   Kia     Ceed  2010        Universal  Mavi

             Engine Details     Mileage Transmission Drive Type Is_New  \
0     2.0 L/150 a.g./Benzin   25 000 km      Avtomat         Ön   Xeyr
1      2.0 L/184 a.g./Dizel   44 000 km      Avtomat        Tam   Xeyr
2     1.6 L/130 a.g./Benzin        0 km      Avtomat         Ön   Bəli
3     1.4 L/107 a.g./Benzin        0 km      Avtomat         Ön   Bəli
4     1.6 L/130 a.g./Benzin   54 000 km      Avtomat         Ön   Xeyr
...                     ...         ...          ...        ...    ...
3401   1.6 L/115 a.g./Dizel  224 400 km     Mexaniki         Ön   Xeyr
3402   1.7 L/141 a.g./Dizel  118 000 km      Avtomat       Arxa   Xeyr
3403   2.0 L/184 a.g./Dizel  122 650 km      Avtomat        Tam   Xeyr
3404  2.0 L/274 a.g./Benzin  166 000 km      Avtomat         Ön   Xeyr
3405   1.4 L/90 a.g./Benzin  268 000 km     Mexaniki         Ön   Xeyr

     Seat Count Owner Count                    Condition       Origin  \
0             5   değer yok  Vuruğu yoxdur, rənglənməyib      Amerika
1     değer yok           1  Vuruğu yoxdur, rənglənməyib       Koreya
2             5   değer yok  Vuruğu yoxdur, rənglənməyib       Avropa
3     değer yok   değer yok  Vuruğu yoxdur, rənglənməyib    değer yok
4             5           1     Vuruğu yoxdur, rənglənib  Rəsmi diler
...         ...         ...                          ...          ...
3401          5           2  Vuruğu yoxdur, rənglənməyib       Avropa
3402          5           1  Vuruğu yoxdur, rənglənməyib       Koreya
3403          5           2  Vuruğu yoxdur, rənglənməyib       Koreya
3404          4           1     Vuruğu yoxdur, rənglənib    değer yok
3405          4   değer yok  Vuruğu yoxdur, rənglənməyib       Avropa

           Price                                Product_link  \
0     30 500 AZN   https://turbo.az/autos/7577541-kia-cerato
1     46 500 AZN  https://turbo.az/autos/7509258-kia-sorento
2     37 900 AZN   https://turbo.az/autos/7593907-kia-cerato
3     35 300 AZN      https://turbo.az/autos/7541951-kia-rio
4     36 500 AZN   https://turbo.az/autos/7573063-kia-cerato
...          ...                                         ...
3401  13 400 AZN     https://turbo.az/autos/7543010-kia-ceed
3402  31 800 AZN   https://turbo.az/autos/7542958-kia-optima
3403  41 500 AZN  https://turbo.az/autos/7542925-kia-sorento
3404  31 850 AZN   https://turbo.az/autos/7542896-kia-optima
3405  11 500 AZN     https://turbo.az/autos/7542870-kia-ceed

                 Saler_name
0       Avtosalon "Eurocar"
1      Avtosalon "AEN Cars"
2     Kia Motors Azerbaijan
3       Kia Motors Sumqayıt
4                    Xanlar
...                     ...
3401                  Şahin
3402                   Emin
3403                 Dilqem
3404                  Orxan
3405                  Nicat

[3406 rows x 18 columns]

In [64]:
# Drop duplicate rows based on all columns
df_no_duplicates = df.drop_duplicates()

# Display the DataFrame without duplicates
print(df_no_duplicates)

          City Brand    Model  Year        Body Type Color  \
0         Bakı   Kia   Cerato  2019            Sedan   Boz
1         Bakı   Kia  Sorento  2015  Offroader / SUV  Qara
2         Bakı   Kia   Cerato  2022            Sedan    Ağ
3     Sumqayıt   Kia      Rio  2023          Hetçbek    Ağ
4         Bakı   Kia   Cerato  2020            Sedan   Göy
...        ...   ...      ...   ...              ...   ...
3401      Bakı   Kia     Ceed  2007          Hetçbek  Qara
3402      Bakı   Kia   Optima  2016            Sedan    Ağ
3403      Bakı   Kia  Sorento  2015  Offroader / SUV    Ağ
3404      Bakı   Kia   Optima  2016            Sedan    Ağ
3405      Bakı   Kia     Ceed  2010        Universal  Mavi

             Engine Details     Mileage Transmission Drive Type Is_New  \
0     2.0 L/150 a.g./Benzin   25 000 km      Avtomat         Ön   Xeyr
1      2.0 L/184 a.g./Dizel   44 000 km      Avtomat        Tam   Xeyr
2     1.6 L/130 a.g./Benzin        0 km      Avtomat         Ön   Bəli
3     1.4 L/107 a.g./Benzin        0 km      Avtomat         Ön   Bəli
4     1.6 L/130 a.g./Benzin   54 000 km      Avtomat         Ön   Xeyr
...                     ...         ...          ...        ...    ...
3401   1.6 L/115 a.g./Dizel  224 400 km     Mexaniki         Ön   Xeyr
3402   1.7 L/141 a.g./Dizel  118 000 km      Avtomat       Arxa   Xeyr
3403   2.0 L/184 a.g./Dizel  122 650 km      Avtomat        Tam   Xeyr
3404  2.0 L/274 a.g./Benzin  166 000 km      Avtomat         Ön   Xeyr
3405   1.4 L/90 a.g./Benzin  268 000 km     Mexaniki         Ön   Xeyr

     Seat Count Owner Count                    Condition       Origin  \
0             5   değer yok  Vuruğu yoxdur, rənglənməyib      Amerika
1     değer yok           1  Vuruğu yoxdur, rənglənməyib       Koreya
2             5   değer yok  Vuruğu yoxdur, rənglənməyib       Avropa
3     değer yok   değer yok  Vuruğu yoxdur, rənglənməyib    değer yok
4             5           1     Vuruğu yoxdur, rənglənib  Rəsmi diler
...         ...         ...                          ...          ...
3401          5           2  Vuruğu yoxdur, rənglənməyib       Avropa
3402          5           1  Vuruğu yoxdur, rənglənməyib       Koreya
3403          5           2  Vuruğu yoxdur, rənglənməyib       Koreya
3404          4           1     Vuruğu yoxdur, rənglənib    değer yok
3405          4   değer yok  Vuruğu yoxdur, rənglənməyib       Avropa

           Price                                Product_link  \
0     30 500 AZN   https://turbo.az/autos/7577541-kia-cerato
1     46 500 AZN  https://turbo.az/autos/7509258-kia-sorento
2     37 900 AZN   https://turbo.az/autos/7593907-kia-cerato
3     35 300 AZN      https://turbo.az/autos/7541951-kia-rio
4     36 500 AZN   https://turbo.az/autos/7573063-kia-cerato
...          ...                                         ...
3401  13 400 AZN     https://turbo.az/autos/7543010-kia-ceed
3402  31 800 AZN   https://turbo.az/autos/7542958-kia-optima
3403  41 500 AZN  https://turbo.az/autos/7542925-kia-sorento
3404  31 850 AZN   https://turbo.az/autos/7542896-kia-optima
3405  11 500 AZN     https://turbo.az/autos/7542870-kia-ceed

                 Saler_name
0       Avtosalon "Eurocar"
1      Avtosalon "AEN Cars"
2     Kia Motors Azerbaijan
3       Kia Motors Sumqayıt
4                    Xanlar
...                     ...
3401                  Şahin
3402                   Emin
3403                 Dilqem
3404                  Orxan
3405                  Nicat

[2273 rows x 18 columns]

In [65]:
 #! Most Frequent 1 - 10 Less Frequent

# Count occurrences of each value in city
city_frequencies = df['City'].value_counts()

# Convert the result to a dictionary
city_frequencies_dict = city_frequencies.to_dict()

# Sort the cities by their frequency in descending order
sorted_cities = sorted(city_frequencies_dict.items(), key=lambda x: x[1], reverse=True)

# Assign ranks to the cities
ranked_cities = {}
for i, (city, freq) in enumerate(sorted_cities):
    ranked_cities[city] = i + 1 if i < 10 else 0

# Apply the ranking to the 'City' column
df['City'] = df['City'].map(ranked_cities)

In [66]:
#Drop the Brand column
df.drop(columns = ['Brand', 'Product_link', 'Saler_name'], inplace = True)
print(df)

      City    Model  Year        Body Type Color         Engine Details  \
0        1   Cerato  2019            Sedan   Boz  2.0 L/150 a.g./Benzin
1        1  Sorento  2015  Offroader / SUV  Qara   2.0 L/184 a.g./Dizel
2        1   Cerato  2022            Sedan    Ağ  1.6 L/130 a.g./Benzin
3        2      Rio  2023          Hetçbek    Ağ  1.4 L/107 a.g./Benzin
4        1   Cerato  2020            Sedan   Göy  1.6 L/130 a.g./Benzin
...    ...      ...   ...              ...   ...                    ...
3401     1     Ceed  2007          Hetçbek  Qara   1.6 L/115 a.g./Dizel
3402     1   Optima  2016            Sedan    Ağ   1.7 L/141 a.g./Dizel
3403     1  Sorento  2015  Offroader / SUV    Ağ   2.0 L/184 a.g./Dizel
3404     1   Optima  2016            Sedan    Ağ  2.0 L/274 a.g./Benzin
3405     1     Ceed  2010        Universal  Mavi   1.4 L/90 a.g./Benzin

         Mileage Transmission Drive Type Is_New Seat Count Owner Count  \
0      25 000 km      Avtomat         Ön   Xeyr          5   değer yok
1      44 000 km      Avtomat        Tam   Xeyr  değer yok           1
2           0 km      Avtomat         Ön   Bəli          5   değer yok
3           0 km      Avtomat         Ön   Bəli  değer yok   değer yok
4      54 000 km      Avtomat         Ön   Xeyr          5           1
...          ...          ...        ...    ...        ...         ...
3401  224 400 km     Mexaniki         Ön   Xeyr          5           2
3402  118 000 km      Avtomat       Arxa   Xeyr          5           1
3403  122 650 km      Avtomat        Tam   Xeyr          5           2
3404  166 000 km      Avtomat         Ön   Xeyr          4           1
3405  268 000 km     Mexaniki         Ön   Xeyr          4   değer yok

                        Condition       Origin       Price
0     Vuruğu yoxdur, rənglənməyib      Amerika  30 500 AZN
1     Vuruğu yoxdur, rənglənməyib       Koreya  46 500 AZN
2     Vuruğu yoxdur, rənglənməyib       Avropa  37 900 AZN
3     Vuruğu yoxdur, rənglənməyib    değer yok  35 300 AZN
4        Vuruğu yoxdur, rənglənib  Rəsmi diler  36 500 AZN
...                           ...          ...         ...
3401  Vuruğu yoxdur, rənglənməyib       Avropa  13 400 AZN
3402  Vuruğu yoxdur, rənglənməyib       Koreya  31 800 AZN
3403  Vuruğu yoxdur, rənglənməyib       Koreya  41 500 AZN
3404     Vuruğu yoxdur, rənglənib    değer yok  31 850 AZN
3405  Vuruğu yoxdur, rənglənməyib       Avropa  11 500 AZN

[3406 rows x 15 columns]

In [67]:
# Count occurrences of each value in the 'Model' column and normalize the frequencies
model_frequencies = df['Model'].value_counts(normalize=True).to_dict()

# Round the percentages to two decimal places
rounded_model_frequencies = {model: round(frequency, 2) for model, frequency in model_frequencies.items()}

# Map the rounded frequencies to the 'Model' column
df['Model'] = df['Model'].map(rounded_model_frequencies)

In [68]:
# Count occurrences of each value in year
year_frequencies = df['Year'].value_counts(normalize=True).to_dict()

# Round the percentages to two decimal places
rounded_year_frequencies = {year: round(frequency, 2) for year, frequency in year_frequencies.items()}

# Map the year frequencies to the 'Year' column
df['Year'] = df['Year'].map(rounded_year_frequencies)

In [69]:
# Count occurrences of each value in city Body Type
body_type_frequencies = df['Body Type'].value_counts(normalize=True).to_dict()

# Round the percentages to two decimal places
rounded_body_type_frequencies = {bodytype: round(frequency, 2) for bodytype, frequency in body_type_frequencies.items()}

# Map the body type frequencies to the 'Body Type' column
df['Body Type'] = df['Body Type'].map(rounded_body_type_frequencies)

In [70]:
# Count occurrences of each value in city Color
color_frequencies = df['Color'].value_counts(normalize=True).to_dict()

# Round the percentages to two decimal places
rounded_color_frequencies = {color: round(frequency, 2) for color, frequency in color_frequencies.items()}

# Map the color frequencies to the 'Color' column
df['Color'] = df['Color'].map(rounded_color_frequencies)

In [71]:
split_engine = df['Engine Details'].str.split('/',expand = True)
split_engine
df['engine_capacity'] = split_engine[0]
df['horse_power'] = split_engine[1]
df['fuel_type'] = split_engine[2]
df.drop(columns=['Engine Details'], inplace=True)
df

,City,Model,Year,Body Type,Color,Mileage,Transmission,Drive Type,Is_New,Seat Count,Owner Count,Condition,Origin,Price,engine_capacity,horse_power,fuel_type
0,1,0.06,0.02,0.31,0.08,25 000 km,Avtomat,Ön,Xeyr,5,değer yok,"Vuruğu yoxdur, rənglənməyib",Amerika,30 500 AZN,2.0 L,150 a.g.,Benzin
1,1,0.37,0.10,0.48,0.25,44 000 km,Avtomat,Tam,Xeyr,değer yok,1,"Vuruğu yoxdur, rənglənməyib",Koreya,46 500 AZN,2.0 L,184 a.g.,Dizel
2,1,0.06,0.02,0.31,0.30,0 km,Avtomat,Ön,Bəli,5,değer yok,"Vuruğu yoxdur, rənglənməyib",Avropa,37 900 AZN,1.6 L,130 a.g.,Benzin
3,2,0.11,0.04,0.13,0.30,0 km,Avtomat,Ön,Bəli,değer yok,değer yok,"Vuruğu yoxdur, rənglənməyib",değer yok,35 300 AZN,1.4 L,107 a.g.,Benzin
4,1,0.06,0.03,0.31,0.05,54 000 km,Avtomat,Ön,Xeyr,5,1,"Vuruğu yoxdur, rənglənib",Rəsmi diler,36 500 AZN,1.6 L,130 a.g.,Benzin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3401,1,0.07,0.04,0.13,0.25,224 400 km,Mexaniki,Ön,Xeyr,5,2,"Vuruğu yoxdur, rənglənməyib",Avropa,13 400 AZN,1.6 L,115 a.g.,Dizel
3402,1,0.14,0.07,0.31,0.30,118 000 km,Avtomat,Arxa,Xeyr,5,1,"Vuruğu yoxdur, rənglənməyib",Koreya,31 800 AZN,1.7 L,141 a.g.,Dizel
3403,1,0.37,0.10,0.48,0.30,122 650 km,Avtomat,Tam,Xeyr,5,2,"Vuruğu yoxdur, rənglənməyib",Koreya,41 500 AZN,2.0 L,184 a.g.,Dizel
3404,1,0.14,0.07,0.31,0.30,166 000 km,Avtomat,Ön,Xeyr,4,1,"Vuruğu yoxdur, rənglənib",değer yok,31 850 AZN,2.0 L,274 a.g.,Benzin
3405,1,0.07,0.09,0.04,0.01,268 000 km,Mexaniki,Ön,Xeyr,4,değer yok,"Vuruğu yoxdur, rənglənməyib",Avropa,11 500 AZN,1.4 L,90 a.g.,Benzin

In [72]:
df['engine_capacity'] = df['engine_capacity'].str.replace(' L','')
df['engine_capacity'] = pd.to_numeric(df['engine_capacity'])
df

,City,Model,Year,Body Type,Color,Mileage,Transmission,Drive Type,Is_New,Seat Count,Owner Count,Condition,Origin,Price,engine_capacity,horse_power,fuel_type
0,1,0.06,0.02,0.31,0.08,25 000 km,Avtomat,Ön,Xeyr,5,değer yok,"Vuruğu yoxdur, rənglənməyib",Amerika,30 500 AZN,2.0,150 a.g.,Benzin
1,1,0.37,0.10,0.48,0.25,44 000 km,Avtomat,Tam,Xeyr,değer yok,1,"Vuruğu yoxdur, rənglənməyib",Koreya,46 500 AZN,2.0,184 a.g.,Dizel
2,1,0.06,0.02,0.31,0.30,0 km,Avtomat,Ön,Bəli,5,değer yok,"Vuruğu yoxdur, rənglənməyib",Avropa,37 900 AZN,1.6,130 a.g.,Benzin
3,2,0.11,0.04,0.13,0.30,0 km,Avtomat,Ön,Bəli,değer yok,değer yok,"Vuruğu yoxdur, rənglənməyib",değer yok,35 300 AZN,1.4,107 a.g.,Benzin
4,1,0.06,0.03,0.31,0.05,54 000 km,Avtomat,Ön,Xeyr,5,1,"Vuruğu yoxdur, rənglənib",Rəsmi diler,36 500 AZN,1.6,130 a.g.,Benzin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3401,1,0.07,0.04,0.13,0.25,224 400 km,Mexaniki,Ön,Xeyr,5,2,"Vuruğu yoxdur, rənglənməyib",Avropa,13 400 AZN,1.6,115 a.g.,Dizel
3402,1,0.14,0.07,0.31,0.30,118 000 km,Avtomat,Arxa,Xeyr,5,1,"Vuruğu yoxdur, rənglənməyib",Koreya,31 800 AZN,1.7,141 a.g.,Dizel
3403,1,0.37,0.10,0.48,0.30,122 650 km,Avtomat,Tam,Xeyr,5,2,"Vuruğu yoxdur, rənglənməyib",Koreya,41 500 AZN,2.0,184 a.g.,Dizel
3404,1,0.14,0.07,0.31,0.30,166 000 km,Avtomat,Ön,Xeyr,4,1,"Vuruğu yoxdur, rənglənib",değer yok,31 850 AZN,2.0,274 a.g.,Benzin
3405,1,0.07,0.09,0.04,0.01,268 000 km,Mexaniki,Ön,Xeyr,4,değer yok,"Vuruğu yoxdur, rənglənməyib",Avropa,11 500 AZN,1.4,90 a.g.,Benzin

In [73]:
df['horse_power'] = df['horse_power'].str.replace(' a.g.','')
df['horse_power'] = pd.to_numeric(df['horse_power'])
df

,City,Model,Year,Body Type,Color,Mileage,Transmission,Drive Type,Is_New,Seat Count,Owner Count,Condition,Origin,Price,engine_capacity,horse_power,fuel_type
0,1,0.06,0.02,0.31,0.08,25 000 km,Avtomat,Ön,Xeyr,5,değer yok,"Vuruğu yoxdur, rənglənməyib",Amerika,30 500 AZN,2.0,150,Benzin
1,1,0.37,0.10,0.48,0.25,44 000 km,Avtomat,Tam,Xeyr,değer yok,1,"Vuruğu yoxdur, rənglənməyib",Koreya,46 500 AZN,2.0,184,Dizel
2,1,0.06,0.02,0.31,0.30,0 km,Avtomat,Ön,Bəli,5,değer yok,"Vuruğu yoxdur, rənglənməyib",Avropa,37 900 AZN,1.6,130,Benzin
3,2,0.11,0.04,0.13,0.30,0 km,Avtomat,Ön,Bəli,değer yok,değer yok,"Vuruğu yoxdur, rənglənməyib",değer yok,35 300 AZN,1.4,107,Benzin
4,1,0.06,0.03,0.31,0.05,54 000 km,Avtomat,Ön,Xeyr,5,1,"Vuruğu yoxdur, rənglənib",Rəsmi diler,36 500 AZN,1.6,130,Benzin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3401,1,0.07,0.04,0.13,0.25,224 400 km,Mexaniki,Ön,Xeyr,5,2,"Vuruğu yoxdur, rənglənməyib",Avropa,13 400 AZN,1.6,115,Dizel
3402,1,0.14,0.07,0.31,0.30,118 000 km,Avtomat,Arxa,Xeyr,5,1,"Vuruğu yoxdur, rənglənməyib",Koreya,31 800 AZN,1.7,141,Dizel
3403,1,0.37,0.10,0.48,0.30,122 650 km,Avtomat,Tam,Xeyr,5,2,"Vuruğu yoxdur, rənglənməyib",Koreya,41 500 AZN,2.0,184,Dizel
3404,1,0.14,0.07,0.31,0.30,166 000 km,Avtomat,Ön,Xeyr,4,1,"Vuruğu yoxdur, rənglənib",değer yok,31 850 AZN,2.0,274,Benzin
3405,1,0.07,0.09,0.04,0.01,268 000 km,Mexaniki,Ön,Xeyr,4,değer yok,"Vuruğu yoxdur, rənglənməyib",Avropa,11 500 AZN,1.4,90,Benzin

In [74]:
# Count occurrences of each value in city Fuel Type
fuel_type_frequencies = df['fuel_type'].value_counts(normalize=True).to_dict()

# Round the percentages to two decimal places
rounded_fuel_type_frequencies = {fueltype: round(frequency, 2) for fueltype, frequency in fuel_type_frequencies.items()}

# Map the fuel_type frequencies to the 'fuel_type' column
df['fuel_type'] = df['fuel_type'].map(rounded_fuel_type_frequencies)

In [75]:
# Clean the 'Mileage' column by removing non-numeric characters and converting to numeric
df['Mileage'] = df['Mileage'].str.replace(r'\D', '', regex=True)
df['Mileage'] = pd.to_numeric(df['Mileage'])

# Display the DataFrame after cleaning and conversion
print(df)

      City  Model  Year  Body Type  Color  Mileage Transmission Drive Type  \
0        1   0.06  0.02       0.31   0.08    25000      Avtomat         Ön
1        1   0.37  0.10       0.48   0.25    44000      Avtomat        Tam
2        1   0.06  0.02       0.31   0.30        0      Avtomat         Ön
3        2   0.11  0.04       0.13   0.30        0      Avtomat         Ön
4        1   0.06  0.03       0.31   0.05    54000      Avtomat         Ön
...    ...    ...   ...        ...    ...      ...          ...        ...
3401     1   0.07  0.04       0.13   0.25   224400     Mexaniki         Ön
3402     1   0.14  0.07       0.31   0.30   118000      Avtomat       Arxa
3403     1   0.37  0.10       0.48   0.30   122650      Avtomat        Tam
3404     1   0.14  0.07       0.31   0.30   166000      Avtomat         Ön
3405     1   0.07  0.09       0.04   0.01   268000     Mexaniki         Ön

     Is_New Seat Count Owner Count                    Condition       Origin  \
0      Xeyr          5   değer yok  Vuruğu yoxdur, rənglənməyib      Amerika
1      Xeyr  değer yok           1  Vuruğu yoxdur, rənglənməyib       Koreya
2      Bəli          5   değer yok  Vuruğu yoxdur, rənglənməyib       Avropa
3      Bəli  değer yok   değer yok  Vuruğu yoxdur, rənglənməyib    değer yok
4      Xeyr          5           1     Vuruğu yoxdur, rənglənib  Rəsmi diler
...     ...        ...         ...                          ...          ...
3401   Xeyr          5           2  Vuruğu yoxdur, rənglənməyib       Avropa
3402   Xeyr          5           1  Vuruğu yoxdur, rənglənməyib       Koreya
3403   Xeyr          5           2  Vuruğu yoxdur, rənglənməyib       Koreya
3404   Xeyr          4           1     Vuruğu yoxdur, rənglənib    değer yok
3405   Xeyr          4   değer yok  Vuruğu yoxdur, rənglənməyib       Avropa

           Price  engine_capacity  horse_power  fuel_type
0     30 500 AZN              2.0          150       0.45
1     46 500 AZN              2.0          184       0.51
2     37 900 AZN              1.6          130       0.45
3     35 300 AZN              1.4          107       0.45
4     36 500 AZN              1.6          130       0.45
...          ...              ...          ...        ...
3401  13 400 AZN              1.6          115       0.51
3402  31 800 AZN              1.7          141       0.51
3403  41 500 AZN              2.0          184       0.51
3404  31 850 AZN              2.0          274       0.45
3405  11 500 AZN              1.4           90       0.45

[3406 rows x 17 columns]

In [76]:
# Count occurrences of each value in city Transmission
Transmission_frequencies = df['Transmission'].value_counts(normalize=True).to_dict()

# Round the percentages to two decimal places
rounded_Transmission_frequencies = {Transmission: round(frequency, 2) for Transmission, frequency in Transmission_frequencies.items()}

# Map the Transmission frequencies to the 'Transmission' column
df['Transmission'] = df['Transmission'].map(rounded_Transmission_frequencies)

In [77]:
# Count occurrences of each value in city Drive Type

drive_type_frequencies = df['Drive Type'].value_counts(normalize=True).to_dict()

# Round the percentages to two decimal places
rounded_drive_type_frequencies = {drive_type: round(frequency, 2) for drive_type, frequency in drive_type_frequencies.items()}

# Map the Drive Type frequencies to the 'Drive Type' column
df['Drive Type'] = df['Drive Type'].map(rounded_drive_type_frequencies)

In [78]:
# Print unique values in the 'Is_New' column
unique_values = df['Is_New'].unique()
print(unique_values)

# Replace specific values with dummy values 
dummy_values = {'Xeyr': 0, 'Bəli': 1,}

df['Is_New'] = df['Is_New'].replace(dummy_values)

print(df)

['Xeyr' 'Bəli']
      City  Model  Year  Body Type  Color  Mileage  Transmission  Drive Type  \
0        1   0.06  0.02       0.31   0.08    25000          0.86        0.82
1        1   0.37  0.10       0.48   0.25    44000          0.86        0.15
2        1   0.06  0.02       0.31   0.30        0          0.86        0.82
3        2   0.11  0.04       0.13   0.30        0          0.86        0.82
4        1   0.06  0.03       0.31   0.05    54000          0.86        0.82
...    ...    ...   ...        ...    ...      ...           ...         ...
3401     1   0.07  0.04       0.13   0.25   224400          0.14        0.82
3402     1   0.14  0.07       0.31   0.30   118000          0.86        0.02
3403     1   0.37  0.10       0.48   0.30   122650          0.86        0.15
3404     1   0.14  0.07       0.31   0.30   166000          0.86        0.82
3405     1   0.07  0.09       0.04   0.01   268000          0.14        0.82

      Is_New Seat Count Owner Count                    Condition       Origin  \
0          0          5   değer yok  Vuruğu yoxdur, rənglənməyib      Amerika
1          0  değer yok           1  Vuruğu yoxdur, rənglənməyib       Koreya
2          1          5   değer yok  Vuruğu yoxdur, rənglənməyib       Avropa
3          1  değer yok   değer yok  Vuruğu yoxdur, rənglənməyib    değer yok
4          0          5           1     Vuruğu yoxdur, rənglənib  Rəsmi diler
...      ...        ...         ...                          ...          ...
3401       0          5           2  Vuruğu yoxdur, rənglənməyib       Avropa
3402       0          5           1  Vuruğu yoxdur, rənglənməyib       Koreya
3403       0          5           2  Vuruğu yoxdur, rənglənməyib       Koreya
3404       0          4           1     Vuruğu yoxdur, rənglənib    değer yok
3405       0          4   değer yok  Vuruğu yoxdur, rənglənməyib       Avropa

           Price  engine_capacity  horse_power  fuel_type
0     30 500 AZN              2.0          150       0.45
1     46 500 AZN              2.0          184       0.51
2     37 900 AZN              1.6          130       0.45
3     35 300 AZN              1.4          107       0.45
4     36 500 AZN              1.6          130       0.45
...          ...              ...          ...        ...
3401  13 400 AZN              1.6          115       0.51
3402  31 800 AZN              1.7          141       0.51
3403  41 500 AZN              2.0          184       0.51
3404  31 850 AZN              2.0          274       0.45
3405  11 500 AZN              1.4           90       0.45

[3406 rows x 17 columns]

In [79]:
# Replace 'deger yok' with 5 in the 'seat_count' column
df['Seat Count'] = df['Seat Count'].replace('değer yok', 5)
df['Seat Count'] = df['Seat Count'].replace('8+', 8)
# Display the DataFrame after replacing values
print(df)

      City  Model  Year  Body Type  Color  Mileage  Transmission  Drive Type  \
0        1   0.06  0.02       0.31   0.08    25000          0.86        0.82
1        1   0.37  0.10       0.48   0.25    44000          0.86        0.15
2        1   0.06  0.02       0.31   0.30        0          0.86        0.82
3        2   0.11  0.04       0.13   0.30        0          0.86        0.82
4        1   0.06  0.03       0.31   0.05    54000          0.86        0.82
...    ...    ...   ...        ...    ...      ...           ...         ...
3401     1   0.07  0.04       0.13   0.25   224400          0.14        0.82
3402     1   0.14  0.07       0.31   0.30   118000          0.86        0.02
3403     1   0.37  0.10       0.48   0.30   122650          0.86        0.15
3404     1   0.14  0.07       0.31   0.30   166000          0.86        0.82
3405     1   0.07  0.09       0.04   0.01   268000          0.14        0.82

      Is_New Seat Count Owner Count                    Condition       Origin  \
0          0          5   değer yok  Vuruğu yoxdur, rənglənməyib      Amerika
1          0          5           1  Vuruğu yoxdur, rənglənməyib       Koreya
2          1          5   değer yok  Vuruğu yoxdur, rənglənməyib       Avropa
3          1          5   değer yok  Vuruğu yoxdur, rənglənməyib    değer yok
4          0          5           1     Vuruğu yoxdur, rənglənib  Rəsmi diler
...      ...        ...         ...                          ...          ...
3401       0          5           2  Vuruğu yoxdur, rənglənməyib       Avropa
3402       0          5           1  Vuruğu yoxdur, rənglənməyib       Koreya
3403       0          5           2  Vuruğu yoxdur, rənglənməyib       Koreya
3404       0          4           1     Vuruğu yoxdur, rənglənib    değer yok
3405       0          4   değer yok  Vuruğu yoxdur, rənglənməyib       Avropa

           Price  engine_capacity  horse_power  fuel_type
0     30 500 AZN              2.0          150       0.45
1     46 500 AZN              2.0          184       0.51
2     37 900 AZN              1.6          130       0.45
3     35 300 AZN              1.4          107       0.45
4     36 500 AZN              1.6          130       0.45
...          ...              ...          ...        ...
3401  13 400 AZN              1.6          115       0.51
3402  31 800 AZN              1.7          141       0.51
3403  41 500 AZN              2.0          184       0.51
3404  31 850 AZN              2.0          274       0.45
3405  11 500 AZN              1.4           90       0.45

[3406 rows x 17 columns]

In [80]:
#Drop the Owner column
df.drop(columns = ['Owner Count'], inplace = True)
print(df)

      City  Model  Year  Body Type  Color  Mileage  Transmission  Drive Type  \
0        1   0.06  0.02       0.31   0.08    25000          0.86        0.82
1        1   0.37  0.10       0.48   0.25    44000          0.86        0.15
2        1   0.06  0.02       0.31   0.30        0          0.86        0.82
3        2   0.11  0.04       0.13   0.30        0          0.86        0.82
4        1   0.06  0.03       0.31   0.05    54000          0.86        0.82
...    ...    ...   ...        ...    ...      ...           ...         ...
3401     1   0.07  0.04       0.13   0.25   224400          0.14        0.82
3402     1   0.14  0.07       0.31   0.30   118000          0.86        0.02
3403     1   0.37  0.10       0.48   0.30   122650          0.86        0.15
3404     1   0.14  0.07       0.31   0.30   166000          0.86        0.82
3405     1   0.07  0.09       0.04   0.01   268000          0.14        0.82

      Is_New Seat Count                    Condition       Origin       Price  \
0          0          5  Vuruğu yoxdur, rənglənməyib      Amerika  30 500 AZN
1          0          5  Vuruğu yoxdur, rənglənməyib       Koreya  46 500 AZN
2          1          5  Vuruğu yoxdur, rənglənməyib       Avropa  37 900 AZN
3          1          5  Vuruğu yoxdur, rənglənməyib    değer yok  35 300 AZN
4          0          5     Vuruğu yoxdur, rənglənib  Rəsmi diler  36 500 AZN
...      ...        ...                          ...          ...         ...
3401       0          5  Vuruğu yoxdur, rənglənməyib       Avropa  13 400 AZN
3402       0          5  Vuruğu yoxdur, rənglənməyib       Koreya  31 800 AZN
3403       0          5  Vuruğu yoxdur, rənglənməyib       Koreya  41 500 AZN
3404       0          4     Vuruğu yoxdur, rənglənib    değer yok  31 850 AZN
3405       0          4  Vuruğu yoxdur, rənglənməyib       Avropa  11 500 AZN

      engine_capacity  horse_power  fuel_type
0                 2.0          150       0.45
1                 2.0          184       0.51
2                 1.6          130       0.45
3                 1.4          107       0.45
4                 1.6          130       0.45
...               ...          ...        ...
3401              1.6          115       0.51
3402              1.7          141       0.51
3403              2.0          184       0.51
3404              2.0          274       0.45
3405              1.4           90       0.45

[3406 rows x 16 columns]

In [81]:
# Filter out rows where 'ownership' column is not equal to 'deger yok'
df = df[df['Condition'] != 'değer yok']

# Display the DataFrame after filtering
print(df)

      City  Model  Year  Body Type  Color  Mileage  Transmission  Drive Type  \
0        1   0.06  0.02       0.31   0.08    25000          0.86        0.82
1        1   0.37  0.10       0.48   0.25    44000          0.86        0.15
2        1   0.06  0.02       0.31   0.30        0          0.86        0.82
3        2   0.11  0.04       0.13   0.30        0          0.86        0.82
4        1   0.06  0.03       0.31   0.05    54000          0.86        0.82
...    ...    ...   ...        ...    ...      ...           ...         ...
3401     1   0.07  0.04       0.13   0.25   224400          0.14        0.82
3402     1   0.14  0.07       0.31   0.30   118000          0.86        0.02
3403     1   0.37  0.10       0.48   0.30   122650          0.86        0.15
3404     1   0.14  0.07       0.31   0.30   166000          0.86        0.82
3405     1   0.07  0.09       0.04   0.01   268000          0.14        0.82

      Is_New Seat Count                    Condition       Origin       Price  \
0          0          5  Vuruğu yoxdur, rənglənməyib      Amerika  30 500 AZN
1          0          5  Vuruğu yoxdur, rənglənməyib       Koreya  46 500 AZN
2          1          5  Vuruğu yoxdur, rənglənməyib       Avropa  37 900 AZN
3          1          5  Vuruğu yoxdur, rənglənməyib    değer yok  35 300 AZN
4          0          5     Vuruğu yoxdur, rənglənib  Rəsmi diler  36 500 AZN
...      ...        ...                          ...          ...         ...
3401       0          5  Vuruğu yoxdur, rənglənməyib       Avropa  13 400 AZN
3402       0          5  Vuruğu yoxdur, rənglənməyib       Koreya  31 800 AZN
3403       0          5  Vuruğu yoxdur, rənglənməyib       Koreya  41 500 AZN
3404       0          4     Vuruğu yoxdur, rənglənib    değer yok  31 850 AZN
3405       0          4  Vuruğu yoxdur, rənglənməyib       Avropa  11 500 AZN

      engine_capacity  horse_power  fuel_type
0                 2.0          150       0.45
1                 2.0          184       0.51
2                 1.6          130       0.45
3                 1.4          107       0.45
4                 1.6          130       0.45
...               ...          ...        ...
3401              1.6          115       0.51
3402              1.7          141       0.51
3403              2.0          184       0.51
3404              2.0          274       0.45
3405              1.4           90       0.45

[3403 rows x 16 columns]

In [82]:
split_condition = df['Condition'].str.split(',', n=1, expand=True)

# Use .loc to set values in the original DataFrame
df.loc[:, 'accidental'] = split_condition[0]
df.loc[:, 'colored'] = split_condition[1]
df.drop(columns=['Condition'], inplace=True)
df

C:\Users\Anar\AppData\Local\Temp\ipykernel_8272\3809855528.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'accidental'] = split_condition[0]
C:\Users\Anar\AppData\Local\Temp\ipykernel_8272\3809855528.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'colored'] = split_condition[1]
C:\Users\Anar\AppData\Local\Temp\ipykernel_8272\3809855528.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Condition'], inplace=True)

,City,Model,Year,Body Type,Color,Mileage,Transmission,Drive Type,Is_New,Seat Count,Origin,Price,engine_capacity,horse_power,fuel_type,accidental,colored
0,1,0.06,0.02,0.31,0.08,25000,0.86,0.82,0,5,Amerika,30 500 AZN,2.0,150,0.45,Vuruğu yoxdur,rənglənməyib
1,1,0.37,0.10,0.48,0.25,44000,0.86,0.15,0,5,Koreya,46 500 AZN,2.0,184,0.51,Vuruğu yoxdur,rənglənməyib
2,1,0.06,0.02,0.31,0.30,0,0.86,0.82,1,5,Avropa,37 900 AZN,1.6,130,0.45,Vuruğu yoxdur,rənglənməyib
3,2,0.11,0.04,0.13,0.30,0,0.86,0.82,1,5,değer yok,35 300 AZN,1.4,107,0.45,Vuruğu yoxdur,rənglənməyib
4,1,0.06,0.03,0.31,0.05,54000,0.86,0.82,0,5,Rəsmi diler,36 500 AZN,1.6,130,0.45,Vuruğu yoxdur,rənglənib
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3401,1,0.07,0.04,0.13,0.25,224400,0.14,0.82,0,5,Avropa,13 400 AZN,1.6,115,0.51,Vuruğu yoxdur,rənglənməyib
3402,1,0.14,0.07,0.31,0.30,118000,0.86,0.02,0,5,Koreya,31 800 AZN,1.7,141,0.51,Vuruğu yoxdur,rənglənməyib
3403,1,0.37,0.10,0.48,0.30,122650,0.86,0.15,0,5,Koreya,41 500 AZN,2.0,184,0.51,Vuruğu yoxdur,rənglənməyib
3404,1,0.14,0.07,0.31,0.30,166000,0.86,0.82,0,4,değer yok,31 850 AZN,2.0,274,0.45,Vuruğu yoxdur,rənglənib
3405,1,0.07,0.09,0.04,0.01,268000,0.14,0.82,0,4,Avropa,11 500 AZN,1.4,90,0.45,Vuruğu yoxdur,rənglənməyib

In [83]:
# Print unique values in the 'colored' column
unique_values_color = df['colored'].unique()
print(unique_values_color)

# Define dummy values mapping
dummy_values_color = {' rənglənib': 0, ' rənglənməyib': 1}

# Replace specific values with dummy values 
df['colored'] = df['colored'].replace(dummy_values_color)

df

[' rənglənməyib' ' rənglənib']

C:\Users\Anar\AppData\Local\Temp\ipykernel_8272\2561903927.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['colored'] = df['colored'].replace(dummy_values_color)

,City,Model,Year,Body Type,Color,Mileage,Transmission,Drive Type,Is_New,Seat Count,Origin,Price,engine_capacity,horse_power,fuel_type,accidental,colored
0,1,0.06,0.02,0.31,0.08,25000,0.86,0.82,0,5,Amerika,30 500 AZN,2.0,150,0.45,Vuruğu yoxdur,1
1,1,0.37,0.10,0.48,0.25,44000,0.86,0.15,0,5,Koreya,46 500 AZN,2.0,184,0.51,Vuruğu yoxdur,1
2,1,0.06,0.02,0.31,0.30,0,0.86,0.82,1,5,Avropa,37 900 AZN,1.6,130,0.45,Vuruğu yoxdur,1
3,2,0.11,0.04,0.13,0.30,0,0.86,0.82,1,5,değer yok,35 300 AZN,1.4,107,0.45,Vuruğu yoxdur,1
4,1,0.06,0.03,0.31,0.05,54000,0.86,0.82,0,5,Rəsmi diler,36 500 AZN,1.6,130,0.45,Vuruğu yoxdur,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3401,1,0.07,0.04,0.13,0.25,224400,0.14,0.82,0,5,Avropa,13 400 AZN,1.6,115,0.51,Vuruğu yoxdur,1
3402,1,0.14,0.07,0.31,0.30,118000,0.86,0.02,0,5,Koreya,31 800 AZN,1.7,141,0.51,Vuruğu yoxdur,1
3403,1,0.37,0.10,0.48,0.30,122650,0.86,0.15,0,5,Koreya,41 500 AZN,2.0,184,0.51,Vuruğu yoxdur,1
3404,1,0.14,0.07,0.31,0.30,166000,0.86,0.82,0,4,değer yok,31 850 AZN,2.0,274,0.45,Vuruğu yoxdur,0
3405,1,0.07,0.09,0.04,0.01,268000,0.14,0.82,0,4,Avropa,11 500 AZN,1.4,90,0.45,Vuruğu yoxdur,1

In [84]:
# Print unique values in the 'accidental' column
unique_values = df['accidental'].unique()
print(unique_values)

# Replace specific values with dummy values 
dummy_values = {'Vuruğu var': 0, 'Vuruğu yoxdur': 1,}

df['accidental'] = df['accidental'].replace(dummy_values)

df

['Vuruğu yoxdur' 'Vuruğu var']

C:\Users\Anar\AppData\Local\Temp\ipykernel_8272\1964065336.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['accidental'] = df['accidental'].replace(dummy_values)

,City,Model,Year,Body Type,Color,Mileage,Transmission,Drive Type,Is_New,Seat Count,Origin,Price,engine_capacity,horse_power,fuel_type,accidental,colored
0,1,0.06,0.02,0.31,0.08,25000,0.86,0.82,0,5,Amerika,30 500 AZN,2.0,150,0.45,1,1
1,1,0.37,0.10,0.48,0.25,44000,0.86,0.15,0,5,Koreya,46 500 AZN,2.0,184,0.51,1,1
2,1,0.06,0.02,0.31,0.30,0,0.86,0.82,1,5,Avropa,37 900 AZN,1.6,130,0.45,1,1
3,2,0.11,0.04,0.13,0.30,0,0.86,0.82,1,5,değer yok,35 300 AZN,1.4,107,0.45,1,1
4,1,0.06,0.03,0.31,0.05,54000,0.86,0.82,0,5,Rəsmi diler,36 500 AZN,1.6,130,0.45,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3401,1,0.07,0.04,0.13,0.25,224400,0.14,0.82,0,5,Avropa,13 400 AZN,1.6,115,0.51,1,1
3402,1,0.14,0.07,0.31,0.30,118000,0.86,0.02,0,5,Koreya,31 800 AZN,1.7,141,0.51,1,1
3403,1,0.37,0.10,0.48,0.30,122650,0.86,0.15,0,5,Koreya,41 500 AZN,2.0,184,0.51,1,1
3404,1,0.14,0.07,0.31,0.30,166000,0.86,0.82,0,4,değer yok,31 850 AZN,2.0,274,0.45,1,0
3405,1,0.07,0.09,0.04,0.01,268000,0.14,0.82,0,4,Avropa,11 500 AZN,1.4,90,0.45,1,1

In [85]:
# Step 2: Count the frequency of each Origin
origin_counts = df['Origin'].value_counts()

# Step 3: Map each origin to a number from 0 to 50 based on its frequency
origin_mapping = {origin: min(idx, 50) for idx, (origin, _) in enumerate(origin_counts.items(), start=1)}
origin_mapping['değer yok'] = 0

# Apply the mapping to the 'Origin' column
df['Origin'] = df['Origin'].map(origin_mapping)

df

C:\Users\Anar\AppData\Local\Temp\ipykernel_8272\1258096220.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Origin'] = df['Origin'].map(origin_mapping)

,City,Model,Year,Body Type,Color,Mileage,Transmission,Drive Type,Is_New,Seat Count,Origin,Price,engine_capacity,horse_power,fuel_type,accidental,colored
0,1,0.06,0.02,0.31,0.08,25000,0.86,0.82,0,5,4,30 500 AZN,2.0,150,0.45,1,1
1,1,0.37,0.10,0.48,0.25,44000,0.86,0.15,0,5,1,46 500 AZN,2.0,184,0.51,1,1
2,1,0.06,0.02,0.31,0.30,0,0.86,0.82,1,5,5,37 900 AZN,1.6,130,0.45,1,1
3,2,0.11,0.04,0.13,0.30,0,0.86,0.82,1,5,0,35 300 AZN,1.4,107,0.45,1,1
4,1,0.06,0.03,0.31,0.05,54000,0.86,0.82,0,5,3,36 500 AZN,1.6,130,0.45,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3401,1,0.07,0.04,0.13,0.25,224400,0.14,0.82,0,5,5,13 400 AZN,1.6,115,0.51,1,1
3402,1,0.14,0.07,0.31,0.30,118000,0.86,0.02,0,5,1,31 800 AZN,1.7,141,0.51,1,1
3403,1,0.37,0.10,0.48,0.30,122650,0.86,0.15,0,5,1,41 500 AZN,2.0,184,0.51,1,1
3404,1,0.14,0.07,0.31,0.30,166000,0.86,0.82,0,4,0,31 850 AZN,2.0,274,0.45,1,0
3405,1,0.07,0.09,0.04,0.01,268000,0.14,0.82,0,4,5,11 500 AZN,1.4,90,0.45,1,1

In [86]:
# Split 'Price' into 'amount' and 'currency'
split_price = df['Price'].str.extract(r'(\d+(?:\s\d+)?)\s+(AZN|USD)')

# Rename columns for clarity
split_price.columns = ['amount', 'currency']

# Convert 'amount' to numeric
split_price['amount'] = split_price['amount'].str.replace(' ', '').astype(float)

# Define exchange rate for USD to AZN conversion
exchange_rate_usd_to_azn = 1.7

# Convert USD prices to AZN
usd_mask = split_price['currency'] == 'USD'
split_price.loc[usd_mask, 'amount'] *= exchange_rate_usd_to_azn
split_price.loc[usd_mask, 'currency'] = 'AZN'

# Drop the 'currency' column as it's no longer needed
split_price.drop(columns=['currency'], inplace=True)

# Rename the 'amount' column to 'new_price'
split_price.rename(columns={'amount': 'new_price'}, inplace=True)

# Concatenate the split_price DataFrame back to the original DataFrame
df = pd.concat([df, split_price], axis=1)

# Drop the original 'Price' column
df.drop(columns=['Price'], inplace=True)

df

,City,Model,Year,Body Type,Color,Mileage,Transmission,Drive Type,Is_New,Seat Count,Origin,engine_capacity,horse_power,fuel_type,accidental,colored,new_price
0,1,0.06,0.02,0.31,0.08,25000,0.86,0.82,0,5,4,2.0,150,0.45,1,1,30500.0
1,1,0.37,0.10,0.48,0.25,44000,0.86,0.15,0,5,1,2.0,184,0.51,1,1,46500.0
2,1,0.06,0.02,0.31,0.30,0,0.86,0.82,1,5,5,1.6,130,0.45,1,1,37900.0
3,2,0.11,0.04,0.13,0.30,0,0.86,0.82,1,5,0,1.4,107,0.45,1,1,35300.0
4,1,0.06,0.03,0.31,0.05,54000,0.86,0.82,0,5,3,1.6,130,0.45,1,0,36500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3401,1,0.07,0.04,0.13,0.25,224400,0.14,0.82,0,5,5,1.6,115,0.51,1,1,13400.0
3402,1,0.14,0.07,0.31,0.30,118000,0.86,0.02,0,5,1,1.7,141,0.51,1,1,31800.0
3403,1,0.37,0.10,0.48,0.30,122650,0.86,0.15,0,5,1,2.0,184,0.51,1,1,41500.0
3404,1,0.14,0.07,0.31,0.30,166000,0.86,0.82,0,4,0,2.0,274,0.45,1,0,31850.0
3405,1,0.07,0.09,0.04,0.01,268000,0.14,0.82,0,4,5,1.4,90,0.45,1,1,11500.0

In [87]:
# Convert all columns to numeric data type
df = df.apply(pd.to_numeric, errors='coerce')

In [88]:
# Calculate the correlation matrix
correlation_matrix = df.corr()

# Extract the correlation of 'Price' with other columns
price_correlation = correlation_matrix['new_price']

# Print the correlation of 'Price' with other columns
print("Correlation of 'new_price' with other columns:")
print(price_correlation)

Correlation of 'new_price' with other columns:
City              -0.077947
Model              0.224009
Year              -0.137772
Body Type          0.333263
Color              0.124179
Mileage           -0.627990
Transmission       0.431006
Drive Type        -0.157056
Is_New             0.414680
Seat Count         0.181176
Origin            -0.151409
engine_capacity    0.184326
horse_power        0.405820
fuel_type         -0.348611
accidental         0.081411
colored            0.088622
new_price          1.000000
Name: new_price, dtype: float64